.container {
  background: #d4d4d44f;
  backdrop-filter: blur(10px);
  padding: 2em 0;
  margin-bottom: 1em;
}

.container h1 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
}

@media (max-width: 768px) {
  .container {
    margin: 2em;
    padding: 2em 0;
  }

  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }
  .container h1 {
    font-size: 20px;
  }
}
