.container h1 {
  display: flex;
  justify-content: center;
  margin: 5% 0 2% 0;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
}

@media (max-width: 768px) {
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }
  .container h1 {
    font-size: 20px;
  }
}
