.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
}

@media (max-width: 768px) {
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
}
