.container h1 {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.about img {
  width: 25em;
  height: 20em;
}

@media (max-width: 768px) {
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }

  .about {
    padding: 1em;
  }

  .about img {
    width: 15em;
    height: 10em;
  }

  .about h1 {
    font-size: 20px;
  }

  .about p {
    font-size: 12px;
  }
}
