.container {
  padding: 5em 10em;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    133deg,
    rgba(255, 255, 255, 1) 41%,
    rgba(0, 95, 255, 1) 100%
  );
  min-height: 91.5vh;
}

.container h1 {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.about img {
  width: 25em;
  height: 20em;
  filter: drop-shadow(2px 2px 2px #0a2c88);
}

@media (max-width: 768px) {
  .container {
    padding: 0em;
  }

  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }

  .about {
    padding: 1em;
  }

  .about img {
    width: 15em;
    height: 10em;
  }

  .about h1 {
    font-size: 20px;
  }

  .about p {
    font-size: 12px;
  }
}
