.container_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 20rem;
  border-radius: 5px;
  cursor: pointer;
}

.container_item img {
  display: flex;
  margin: auto;
  object-fit: scale-down;
  width: 80%;
  height: 80%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5%;
}

.content span {
  margin-top: auto;
}

@media (max-width: 768px) {
}
