.container {
  display: flex;
  justify-content: space-around;
  padding: 7em;
  background-color: antiquewhite;
}

.photoItem {
  width: 30em;
  object-fit: scale-down;
}

.description {
  width: 50%;
}

.description h1,
.description h3 {
  text-align: end;
}

.description p {
  display: flex;
  justify-content: flex-end;
  margin-top: 3em;
  width: 70%;
  margin-left: auto;
  text-align: justify;
  color: #585858;
}
