.container {
  height: 100%;
  background-color: #fdfcfc;
  display: flex;
  justify-content: space-around;
  gap: 5em;
  padding: 5em;
}

.containerImages {
  width: 100%;
  height: 60vh;
  border-right: 2px solid rgba(3, 3, 3, 0.281);
}

.selectLogin {
  display: flex;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.3em;
  border-radius: 15px;
  background-color: #f1f1f1;
  margin-bottom: 1em;
}

.selectLogin button {
  color: #0000007a;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  width: 50%;
  height: 3em;
  border: none;
  background: transparent;
}

.selectLogin p {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 50%;
  height: 3em;
  border: 2px solid #d6d6d6;
  background-color: #fff;
  border-radius: 15px;
  user-select: none;
}

.btnLogin {
  order: 1;
}

@media (max-width: 768px) {
  .containerImages {
    display: none;
  }

  .selectLogin {
    width: 100%;
  }

  .selectRegister {
    width: 100%;
  }

  .container {
    padding: 1.5em;
  }
}
