.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://img.freepik.com/vetores-gratis/fundo-gradiente-de-galaxia-clara_23-2148966975.jpg?w=1380&t=st=1687843322~exp=1687843922~hmac=75c8741484d7e78c722722d3fa9ced64e4fd6e3a3045e3311e362347def9e65c');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 30%;
}

.auth {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 7, 67, 0.218);
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80vh;
  padding: 2% 5%;
}

.selectLogin {
  display: flex;
  padding: 0.3em;
  margin-bottom: 2em;
  width: 80%;
  margin-inline: auto;
}

.selectLogin button {
  color: #ffffff7a;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  width: 50%;
  height: 3em;
  border: none;
  background: transparent;
}

.selectLogin p {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 50%;
  height: 3em;
  border-bottom: 3px solid #7da2ff;
  color: #fff;
  user-select: none;
}

.btnLogin {
  order: 1;
}

@media (max-width: 768px) {
  .containerImages {
    display: none;
  }

  .selectLogin {
    width: 100%;
  }

  .selectRegister {
    width: 100%;
  }

  .container {
    padding: 0;
    height: 100%;
  }

  .auth {
    backdrop-filter: blur(20px);
    background-color: rgba(0, 7, 67, 0.218);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    height: 100%;
    padding: 2% 5%;
  }
}
