.container {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.container ul {
  list-style-type: none;
  display: flex;

  gap: 1rem;
  flex-wrap: wrap;
}

.container li {
  background-color: rgba(196, 196, 196, 0.288);
  width: 10rem;
}
