.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
  min-height: 15em;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.quantity input[type='number'] {
  width: 32px;
  text-align: center;
  font-weight: bold;
  border: none;
  user-select: none;
}

.quantity input[type='number']:focus {
  outline: none;
}

.quantity button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.product {
  width: 40%;
  display: flex;
  gap: 2em;
  align-items: center;
  font-weight: bold;
}

.product img {
  object-fit: scale-down;
  height: 100%;
  width: 20%;
}

.product p {
  font-weight: bold;
  width: 9em;
}
