.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
  height: 15em;
  backdrop-filter: blur(10px); /* Aplica o blur no fundo do container */
  background: #ebebeb6c;
  margin-bottom: 1%;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.quantity svg {
  display: flex;
}

.quantity input[type='number'] {
  width: 32px;
  text-align: center;
  font-weight: 500;
  border: none;
  user-select: none;
  background: transparent;
  font-size: 1.1rem;
}

.quantity input[type='number']:focus {
  outline: none;
}

.quantity button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.product {
  width: 40%;
  display: flex;
  gap: 2em;
  align-items: center;
  font-weight: bold;
}

.product img {
  object-fit: scale-down;
  height: 100%;
  width: 20%;
  mix-blend-mode: multiply;
}

.product p {
  font-weight: 500;
  width: 12em;
  font-size: 1.3rem;
}

.container h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .quantity {
    gap: 0em;
  }

  .product img {
    width: 50%;
  }

  .product p {
    font-size: 0.6rem;
  }

  .container h4 {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
